
    <tr>
      <% if  DailyEmotion.where(user_id: "#{user.id}", event_id: "#{@event.id}").count > 0 %>
          <td><%= user.first_name %> <%= user.last_name %></td>
          <td><%= "   " %></td>


          <td>            <% if DailyEmotion.where(user_id: "#{user.id}", event_id: "#{@event.id}").first.emotion_id == 1 %><%="ðŸ˜ž"%><% end %>
                          <% if DailyEmotion.where(user_id: "#{user.id}", event_id: "#{@event.id}").first.emotion_id == 2 %><%="ðŸ˜•"%><% end %>
                          <% if DailyEmotion.where(user_id: "#{user.id}", event_id: "#{@event.id}").first.emotion_id == 3 %><%="ðŸ˜"%><% end %>
                          <% if DailyEmotion.where(user_id: "#{user.id}", event_id: "#{@event.id}").first.emotion_id == 4 %><%="ðŸ™‚" %><% end %>
                          <% if DailyEmotion.where(user_id: "#{user.id}", event_id: "#{@event.id}").first.emotion_id == 5 %><%="ðŸ˜" %><% end %>
          </td>


        <% end %>

    </tr>
