

<div class="calendar-heading">
  <div class="calendar">
    <%= month_calendar events: @daily_emotions do |date, meetings| %>
      <span class="my-date"><%= date.day %></span>
                      <% meetings.each do |meeting| %>
  <% if @daily_emotions.first.emotion_id == 1 %><%="ðŸ˜ž"%><% end %>
  <% if @daily_emotions.first.emotion_id == 2 %><%="ðŸ˜•"%><% end %>
  <% if @daily_emotions.first.emotion_id == 3 %><%="ðŸ˜"%><% end %>
  <% if @daily_emotions.first.emotion_id == 4 %><%="ðŸ™‚" %><% end %>
  <% if @daily_emotions.first.emotion_id == 11 %><%="ðŸ˜" %><% end %>
                      <% end %>

    <% end %>

  </div>



