<h1>Events#new</h1>
<p>Find me in app/views/events/new.html.erb</p>

<!-- (@event), url: new_event_path, local: true do |f|
 -->
<div class="container">
  <div class="row justify-center-center">
    <div class="col-12">
      <%= simple_form_for @event do |f| %>
        <%= f.input :title, collection: ["Fit", "Boxe"] %>
        <%= f.input :event_date %>
        <%= f.input :duration, collection: ["1", "2"] %>
        <%= f.association :place, :collection => Place.all, :include_blank => false, :label_method => :name, :value_method => :id %>
        <%= f.submit 'Submit',class: "btn btn-flat"%>
      <% end %>
    </div>
  </div>
</div>


